body{

font-family:Arial;
background:#87CEEB;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:30px;
border-radius:15px;
text-align:center;
width:320px;
box-shadow:0px 5px 15px rgba(0,0,0,0.3);

}

input{

padding:10px;
width:90%;
margin-bottom:15px;

}

button{

padding:10px 20px;
background:#2196F3;
color:white;
border:none;
cursor:pointer;
border-radius:5px;

}

button:hover{

background:#0b7dda;

}

#weather{

margin-top:20px;
font-size:18px;

}